<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
</head>
<body>
    <h1>Recommendations Based on {{ selected_movie }}</h1>
    
    <!-- Mostrar el póster de la película seleccionada -->
    <img src="{{ backdrop_url }}" alt="Backdrop Image" width="600">
    
    <h2>Movies of the Same Genre</h2>
    <ul>
        {% for movie in genre_filtered_movies.iterrows() %}
            <li>{{ movie[1]['title'] }}</li>
        {% endfor %}
    </ul>
    
    <h2>Recommended Movies</h2>
    <ul>
        {% for movie in recommended_movies %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>
</body>
</html>

